<div>
  <nav class="navbar navbar-light bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['']" routerLinkActive="router-link-active">Visitors Book</a>

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search for Visitor..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="main container mt-2">
    <router-outlet></router-outlet>
  </div>
</div>